body{

background: linear-gradient(135deg,#020024,#000000,#001f1f);

font-family: Segoe UI;

color:#d6ffff;

margin:0;

display:flex;

justify-content:center;

align-items:center;

height:100vh;

}


.main{

width:900px;

background:#0a0a0a;

padding:35px;

border-radius:12px;

box-shadow:0 0 40px rgba(0,255,200,.2);

}


.logo{

text-align:center;

font-size:42px;

color:#00ffc8;

letter-spacing:2px;

}

.logo span{

color:#00b7ff;

}


.tag{

text-align:center;

opacity:.7;

margin-bottom:30px;

}


.options{

display:flex;

justify-content:center;

gap:15px;

margin-bottom:25px;

}


.tab{

background:#111;

border:1px solid #00ffc8;

color:#00ffc8;

padding:10px 18px;

border-radius:6px;

cursor:pointer;

transition:.3s;

}

.tab:hover{

background:#00ffc8;

color:#000;

}


.tab.active{

background:#00ffc8;

color:#000;

}


.tabcontent{

display:none;

text-align:center;

}


.tabcontent.active{

display:block;

}


#reader{

width:320px;

margin:auto;

}


input{

width:70%;

padding:12px;

background:#111;

border:1px solid #00ffc8;

color:white;

border-radius:8px;

}


.scanbtn{

margin-top:10px;

padding:10px 20px;

border:none;

background:#00ffc8;

border-radius:6px;

cursor:pointer;

}


.result{

margin-top:30px;

background:#050505;

border:1px solid #00ffc8;

padding:20px;

border-radius:10px;

}


#output{

color:#00ff90;

font-family:monospace;

white-space:pre-wrap;

}


.note{

opacity:.6;

margin-top:10px;

}


canvas{

display:none;

}